<mat-slide-toggle
  class="margin-slid"
  [color]="color"
  (change)="onSlideChange()"
  [(ngModel)]="disabled"
  [disabled]=toggleDisable>
</mat-slide-toggle>

<mat-slider
  #mySlider
  class="margin-slider"
  thumbLabel
  [displayWith]="formatLabel"
  tickInterval="1000"
  min="0"
  [disabled]=!disabled
  [(ngModel)]="value"
  (input)="onInputChange($event)"
  [max]="this.max"></mat-slider>

<div class="replay_control">
  <button mat-icon-button color="black" [disabled]=!disabled>
    <mat-icon>fast_rewind</mat-icon>
  </button>
  <button mat-icon-button color="primary" [disabled]=!disabled>
    <mat-icon>play_arrow</mat-icon>
  </button>
  <button mat-icon-button color="primary" [disabled]=!disabled>
    <mat-icon>fast_forward</mat-icon>
  </button>
</div>


