
.margin-slider {
  width: 300px;
}

.margin-slid {
  margin: 20px 20px 0 20px;
  width: 300px;
}

::ng-deep .mat-accent .mat-slider-thumb {
  background-color: grey;
}
::ng-deep .mat-accent .mat-slider-thumb-label {
  background-color: grey;
}
::ng-deep .mat-accent .mat-slider-track-fill {
  background-color: grey;
}

.replay_control {
  text-align: center;
}

