<div>
  <mat-slide-toggle
    class="margin-slid"
    [color]="color"
    (change)="onSlideChange()"
    [(ngModel)]="disabled"
    [disabled]=toggleDisable>
  </mat-slide-toggle>
</div>

<mat-slider
  #mySlider
  class="margin-slider"
  thumbLabel
  [displayWith]="formatLabel"
  tickInterval="1000"
  min="0"
  [disabled]=!disabled
  [(ngModel)]="value"
  (input)="onInputChange($event)"
  [max]="this.max"></mat-slider>

<div class="replay_control">
  <button mat-icon-button color="primary" [disabled]=!disabled (click)="this.speedDown()">
    <mat-icon>fast_rewind</mat-icon>
  </button>
  <button mat-icon-button color="primary" [disabled]=!disabled (click)="this.play()">
    <mat-icon [innerHTML]="this.playIcon"></mat-icon>
  </button>
  <button mat-icon-button color="primary" [disabled]=!disabled (click)="this.speedUp()">
    <mat-icon>fast_forward</mat-icon>
  </button>
  x<span [innerHTML]="this.speed"></span>
</div>


