<app-nav-bar></app-nav-bar>
<ng-snotify></ng-snotify>
<div style="width: auto; height: 94.7vh;">
  <as-split direction="horizontal">
    <as-split-area size="20" style="overflow: hidden;">
      <app-slider></app-slider>
      <app-list-vessel></app-list-vessel>
    </as-split-area>
    <as-split-area size="80">
      <as-split direction="vertical">
        <as-split-area  size="100" style="overflow: hidden;">
          <app-map></app-map>
        </as-split-area>
        <as-split-area  size="100" style="overflow: hidden;">
          <app-graph></app-graph>
        </as-split-area>
      </as-split>
    </as-split-area>
  </as-split>
</div>
<router-outlet></router-outlet>



