<form (ngSubmit)="onSubmit()" #vesselForm="ngForm">
  <div class="form-group">
    <label for="ipAddress">IP Address</label>
    <input type="text" class="form-control" id="ipAddress"
           required
           [(ngModel)]="client.ip" name="name" #name="ngModel">
    <label for="port">Port</label>
    <input type="number" class="form-control" id="port"
           required
           [(ngModel)]="client.port" name="port">
  </div>
  <section class="example-section">
    <mat-radio-group [(ngModel)]="isFDITMode">
      <mat-radio-button class="example-margin" value=true style="margin-right: 10px" checked>FDI-T</mat-radio-button>
      <mat-radio-button class="example-margin" value=false>Json</mat-radio-button>
    </mat-radio-group>
  </section>
  <div class="modal-footer">
    <button type="submit" class="btn btn-success" [disabled]="!vesselForm.form.valid" >Start</button>
<!--    <button type="submit" class="btn btn-danger" (click)="stopRequest()" [disabled]="!vesselForm.form.valid" >Stop</button>-->
  </div>
</form>
